In [10]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

#  http://www.cs.cornell.edu/people/pabo/movie-review-data/
df = pd.read_csv('../TextFiles/moviereviews.tsv', sep='\t')
df.head(5)

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [11]:
# Removing NaNs and empty strings

df['review'].replace('', np.nan, inplace=True)
df.dropna(inplace=True)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(df["review"], df["label"], test_size = 0.2, random_state = 1)

In [14]:
pipe = Pipeline([('tfidf',TfidfVectorizer()), ('classifier',LinearSVC())])

pipe.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('classifier', LinearSVC())])

In [15]:
predictions = pipe.predict(X_test)

In [16]:
metrics.confusion_matrix(y_test, predictions)

array([[183,  30],
       [ 28, 152]], dtype=int64)

In [18]:
print(metrics.classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.87      0.86      0.86       213
         pos       0.84      0.84      0.84       180

    accuracy                           0.85       393
   macro avg       0.85      0.85      0.85       393
weighted avg       0.85      0.85      0.85       393

In [19]:
metrics.accuracy_score(y_test, predictions)

0.8524173027989822